@model app.Models.SolicitacaoDoacao
@using app.Models
@using app.Enums
@using app.Extensions
@using System.ComponentModel.DataAnnotations

@{
    ViewData["Title"] = "Detalhes da Solicitação de Doação";
}

<h1 class="page-title">Detalhes da Solicitação de Doação</h1>

<div class="row justify-content-center">
    <div class="container-doacao col-lg-8 col-xl-6">
        <dl class="row">
            <dt class="col-sm-4">Nome da ONG</dt>
            <dd class="col-sm-8">@Model.UsuarioOng?.Nome</dd>

            <dt class="col-sm-4">Data da Solicitação</dt>
            <dd class="col-sm-8">@Model.DataSolicitacao.ToString("dd/MM/yyyy HH:mm")</dd>

            <dt class="col-sm-4">Status</dt>
            <dd class="col-sm-8">@Model.Status</dd>

            @if (Model.IsCestaCompleta)
            {
                <dt class="col-sm-4">Tipo de Solicitação</dt>
                <dd class="col-sm-8">Cesta completa</dd>

                <dt class="col-sm-4">Quantidade de cestas</dt>
                <dd class="col-sm-8">@Model.QtdeCestas</dd>
            }
            else
            {
                <dt class="col-sm-4">Tipo de Solicitação</dt>
                <dd class="col-sm-8">Itens não pereciveis</dd>

                <dt class="col-sm-4">Itens solicitados</dt>
                <dd class="col-sm-8">
                    <ul>
                        @foreach (var item in Model.ItensSolicitacao)
                        {
                            <li>@item.Alimento.GetDisplayName() - @item.QtdeItem @item.MedidaItem</li>
                        }
                    </ul>
                </dd>
            }

            <dt class="col-sm-4">Tipo de transporte</dt>
            <dd class="col-sm-8">@Model.TipoTransporte.GetDisplayName()</dd>

            <dt class="col-sm-4">Agendamentos</dt>
            <dd class="col-sm-8">
                @if (Model.AgendamentosSolicitacao?.Any() == true)
                {
                    <ul>
                        @foreach (var agendamento in Model.AgendamentosSolicitacao)
                        {
                            var stringDia = agendamento.DiaSemana;
                            DiaDaSemana enumDia = (DiaDaSemana)Enum.Parse(typeof(DiaDaSemana), stringDia);
                            <li>@enumDia.GetDisplayName() - das @agendamento.HorarioInicio.ToString(@"hh\:mm") até @agendamento.HorarioFim.ToString(@"hh\:mm")</li>
                        }
                    </ul>
                }
                else
                {
                    <em>Não informado</em>
                }
            </dd>
        </dl>
        <div class="d-flex gap-2 justify-content-end border-top pt-3">
            <a asp-action="GerenciarSolicitacoes" class="btn btn-secondary-app">Voltar</a>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalCancelar">
                Cancelar
            </button>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary-app">Editar</a>
        </div>
        
    </div>
</div>

<div class="modal fade modal-agendamento" id="modalCancelar" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mb-3 text-center">
                <h3 class="text-danger mb-3">Cancelar solicitação</h3>
                <h5 class="mb-4">
                    Atenção: Esta ação é irreversível. Você tem certeza de que deseja cancelar essa solicitação?
                </h5>
                <form asp-action="Cancelar" id="formCancelamento">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <div class="grupo-btn row">
                        <div class="col">
                            <input type="submit" value="Sim, tenho certeza" class="btn btn-danger" />
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary-outline-app" data-bs-dismiss="modal">Não, voltar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

