@model List<app.Models.SolicitacaoDoacao>
@using app.Enums
@using app.Extensions

<h1 class="page-title">
    Solicitações de doação disponíveis para você
</h1>

@if (Model != null && Model.Any())
{
    <div class="row cards-doacoes">
        @foreach (var solicitacao in Model)
        {
            <div class="col-md-6 col-xl-4">
                <div class="card card-doacao shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title mb-2">
                            @(solicitacao.IsCestaCompleta ? "Solicitação de Cestas Completas" : "Solicitação de Itens Não Perecíveis")
                        </h5>
                        <h6 class="card-subtitle pb-3 mb-3 border-bottom">
                            @solicitacao.UsuarioOng?.Nome
                        </h6>
                        <ul>
                            @if (!solicitacao.IsCestaCompleta && solicitacao.ItensSolicitacao?.Any() == true)
                            {
                                <li>
                                    <i class="bi bi-list-task"></i>
                                    @{
                                        var itensAgrupados = solicitacao.ItensSolicitacao
                                        .GroupBy(i => i.Alimento)
                                        .Select(g => $"{g.Key.GetDisplayName()} ({g.Sum(x => x.QtdeItem)})")
                                        .ToList();

                                        var listaFormatada = string.Join(", ", itensAgrupados);
                                    }
                                    @Html.Raw(listaFormatada)
                                </li>
                            }

                            @if (solicitacao.IsCestaCompleta)
                            {
                                <li>
                                    <i class="bi bi-box2-heart"></i>
                                    @solicitacao.QtdeCestas
                                    <span>@(solicitacao.QtdeCestas == 1 ? "cesta" : "cestas")</span>
                                </li>
                            }

                            <li>
                                <i class="bi bi-truck"></i>
                                @solicitacao.TipoTransporte
                            </li>
                            <li>
                                <i class="bi bi-geo-alt"></i>
                                @solicitacao.UsuarioOng?.Cidade/@solicitacao.UsuarioOng?.Estado
                            </li>
                        </ul>
                        <button class="btn btn-primary-outline-app" data-bs-toggle="modal" data-bs-target="#detalhes-solicitacao-@solicitacao.Id">Ver detalhes</button>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="detalhes-solicitacao-@solicitacao.Id" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <partial name="_DetalhesParaDoadoresPartial" model="solicitacao" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Não há solicitações de doação disponíveis no momento.</p>
}
